{% extends 'master_panel.html' %}
{% load global_functions %}
{% load static %}
{% block content %}
    <div id="page-content">
        <!-- Datatables Header -->
        <div class="content-header">

            <div class="block full">


                <div class="table-responsive">
                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center" style="font-size: 10px; font-weight: bold">#</th>
                            <th class="text-center" style="font-size: 10px; font-weight: bold">Name</th>
                            <th class="text-center " style="font-size: 10px; font-weight: bold">Stock Code</th>
                            <th class="text-center " style="font-size: 10px; font-weight: bold">Stock Amount</th>
                            <th class="text-center " style="font-size: 10px; font-weight: bold">Is Bundle</th>
                            <th class="text-center " style="font-size: 10px; font-weight: bold">Sales Channel</th>
                            <th class="text-center " style="font-size: 10px; font-weight: bold">Active?</th>

                        </tr>
                        </thead>

                        {% for product in products %}
                            <tr {% if product.sales_channel == 'hepsiburada' %}
                                style="background-color: #f6f6f6" {% endif %}>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-left">{{ product.name }}</td>
                                <td class="text-center">{{ product.stock_code }} </td>
                                <td class="text-center">{{ product.stock }}</td>
                                <td class="text-center">{% if product.is_bundle %}
                                    <i class="fa fa-star"></i> {% endif %} </td>
                                <td class="text-center">{{ product.sales_channel }} </td>
                                <td class="text-center"><span {% if product.status == False %}
                                    style="color:red "{% endif %}>{{ product.status }} </span></td>


                            </tr>
                        {% endfor %}


                    </table>

                </div>

            </div>
            <div id="page-content">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            {% for product in products %}
                                <div class="col-sm-6 col-md-3">
                                    <div class="widget">
                                        <div class="widget-advanced">
                                            <!-- Widget Header -->
                                            <form action="#" method="POST" target="process"
                                                  enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                                <input type="hidden" name="just_bundle" value="True">
                                                <div class="widget-header text-center themed-background-dark-amethyst"
                                                     style="padding: 3px 3px; background-color: #394263 !important; height: 45px">
                                                    {% if product.is_bundle %}
                                                        <div class="widget-options-left">
                                                            <button class="btn btn-xs btn-default" data-toggle="tooltip"
                                                                    title="Advantageous!">
                                                                <i class="fa fa-star" style="color: yellow"></i>
                                                            </button>
                                                        </div>
                                                    {% endif %}

                                                    <h3 class="widget-content-light">


                                                    </h3>
                                                </div>

                                                <!-- END Widget Header -->

                                                <!-- Widget Main -->
                                                <div class="widget-main" style="min-height: 235px">
                                                    <p style="height: 50px">{{ product.name }}</p>

                                                    <small style="font-weight: bold ;{% if product.sales_channel == 'trendyol' %} color: yellowgreen{% else %} color: #9b59b6{% endif %}">
                                                        {{ product.sales_channel }} {% if product.is_bundle %}
                                                        <span style="float: right">is bundle</span>{% endif %}</small>
                                                    <hr>
                                                    <button type="submit"
                                                            class="widget-image-container animation-fadeIn">
                                                        <span class="widget-icon themed-background-amethyst"><i
                                                                class="fa fa-shopping-cart"></i></span>
                                                    </button>


                                                    <div style="text-align: left">
                                                        {% if product.stock == 0 %}
                                                            <del> Sold Out</del> {% else %}
                                                            <span> Order Amount:</span>
                                                            <input style="width: 40px" name="amount">
                                                        {% endif %}

                                                        <span style="float: right">stock: <span
                                                                style="font-weight: bold">{{ product.stock }} </span></span>

                                                    </div>


                                                </div>
                                                <!-- END Widget Main -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                        <!-- END Courses Content -->
                    </div>

                </div>
            </div>
        </div>


    </div>

{% endblock %}
{% block footerblock %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static  'js/pages/tablesDatatables.js' %}"></script>
    <script>$(function () {
        TablesDatatables.init();
    });</script>
{% endblock %}